.main-container {
    display: flex;
    flex-direction: column;
}

.searchbar {
    display: flex;
}
    .searchbar__btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }


.information {
    position: absolute;
    z-index: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 1.5em 0;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 14em;
    top: 17em;
}




@media screen and (min-width: 768px) {
    .information {
        height: auto;
        top: 16em;
        flex-direction: row;
    }
}

